{% extends "header.html" %}
{% block body %}



<body class="body">


      <div class="container" align="left">
	  <img src="{{ url_for('static', filename='images/sorry.jpg') }}">
	  
	  </div>
	  <div class="container" align="left">
	  
        <h4>Page Not Found</h4>
        <p>The requested URL was not found on this server.</p>
		
		<p>Please check the URL as maybe the URL path was not correctly transferred!</p>
		
		<p>This error has been logged and will be reviewed. Feel free to contact animework@anime.com.</p>
        <input class="btn btn-default" action="action" type="button" value="Back" onclick="history.go(-1);" />
		
      </div>
	  
	  


	

	
</body>
{% endblock %}