{% extends "header.html" %}
{% block body %}
	<div>
	<h1>Anime Shows</h1>
	    <li></li>
	      <ul>
			  {% for t in ANIME_DICT["animedata"] %}
			   <a href="{{t[1]}}"><img img src={{t[2]}}></a>
			  {% endfor %}
			
		  </ul>
		  
	    
		
		
	</div>
{% endblock %}

