{% extends "header.html" %}
{% block body %}
  <head>
    <title>Chatroom</title>
    <link rel="stylesheet" href="/static/css/chatroom.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/chatroom.js"></script>
  </head>
  
  <body>
    <h1>Chatroom</h2>
    <form id="change-username">
      <label for="field-username">Username: </label>
      <input name="username" id="field-username" />
      <input type="submit" value="Change" />
      <span id="username-submit-result"></span>
    </form>
    
    <div id="messages"></div>
    <div id="users"><ul></ul></div><br class="clearer" />
    <form id="enter-message">
      <input name="message" id="field-message" placeholder="Your message"/>
      <input type="submit" value="Enter" />
    </form>
  </body>
  
  
  
{% endblock %}