{% extends "header.html" %}

{% block body %}
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>
<script type="text/javascript" 
	$(document).ready(funtion(){
		$('button').click(funtion(){
			var message =$('textarea').val();
			var old = $('#content').html();

			$('#content').html(old + '<p>' + message + '</p>');
		});
	});
 </script>
<h1>Lets Chat</h1>
<div id ="content">
<p>Heres our chata data</p>
 </div>
 
 <div id="message">
 <textarea rows = "2"cold"34">Leave a comment</textarea>
 <button>post</button>
 </div>
{% endblock %}

