<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The New World</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- And the relevant JavaScript -->
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/path/to/unslider.js"></script> <!-- but with the right path! -->
	<script>$(function() { $('.banner').unslider() })</script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<style type="text/css">
  html {
                width: 70%;
                height: 70%;
				position: absolute;
				top: 0%;
				left: 15%;
				background-color:black;
				
    
            }	
body{background-color:blue;}



.banner > .banner-image{
	width:100%;
	height:auto;
	
}

#bodybox{background-color:balck;}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
				

 </style>
</head>
<body>
<header>
<div class="banner"> 
<img class="banner-image" src="{{ url_for('static', filename='images/32fadc05-e0c7-42ca-b174-3bc6735dee21.jpg') }}">
</header>


<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> <img style="max-width:50px; margin-top: -12px;" src="{{ url_for('static', filename='images/media-tv-show-icon.png') }}"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/anime/">Anime List</a></li>
        <li><a href="/chatroom/">Chat Room</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Related Sites <span class="caret"></span></a>
          <ul class="dropdown-menu">
		  <li><a href="http://myanimelist.net/" target="_blank">MyAnimeList</a></li>
		  <li role="separator" class="divider"></li>
            <li><a href="http://www.funimation.com/" target="_blank">Funimation</a></li> 
			 <li><a href="http://www.viz.com/" target="_blank">Viz</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="http://www.aniplex.co.jp/" target="_blank">Animplex</a></li>
            <li><a href="http://a1p.jp" target="_blank">A-1 Productions</a></li>
            
            
      
           
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
	  
      <ul class="nav navbar-nav navbar-right">
     		  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
			<h5>

			<a href="/demo-error/"> <span class="glyphicon glyphicon-heart"></span> Support   </a>
			<a href="/register/"> <span class="glyphicon glyphicon-pencil"></span>Sign Up</a>
			<a href="/login/"> <span class="glyphicon glyphicon-log-in"></span>Log In</a>
		</div>
	  </div>
      </ul>
	</ul>
	</div>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->






<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}

	</div>
<div id="bodybox">
    {% block body %}
	
	
	
	{% endblock %} 
   </div>
  


<div id="footer">
Copyright © TheNewWold
</div>

</body>
</html>
   