{% extends "header.html" %}

{% block body %}
	<style type="text/css">
h1{ width: 60%;
	   
position: static;
	left:50;			
	margin-left: 32%
	}
.embed-responsive-item{
	position: static;			 
	margin-left: 35%
	}
	
p{
position: static;			 
	margin-left: 25%;
	font-size:22px;
}
			
  </style>
 <div>  

</div>

<div>
<h1>The Place for those No.1 Fans</h1>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n6olWlryLdY?autoplay=1" width="400" height="300"></iframe>
<p>No.1 Site for everything in the work of Anime and Japanese Otaku<br>The website will add the latest infomation for the current user. </p>

{% for item in anime %}
{{ item.title[2]}}
{% endfor %}








{% endblock %}

</div>
