{% extends "header.html" %}
{% block body %}
	 <body>
	  
	      <div class="container">
      <h3>Please login:</h3>
      <br>
      <form action="" class="form-inline" method="post">
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
	<div class="container">
	   <br><p>No account? <a href='/register/'>Register here</a>.</p>
	   <br>
		{% for paragraph in Body_info %}
		<p>{{ paragraph }}</p>
		{% endfor %}
	  </div>

    </div>

	 </body>
{% endblock %}