
{% extends "header.html" %}
{% block body %}
	<style type="text/css">
h1{
	position: static;			 
	margin-left: 230px;
	margin-top: 90px;
	}
.title-image{
position: static;			 
	margin-top: -180px;
}	
p{
font-size:18px;
}
.embed-responsive-item{
position: static;			 
	margin-left: 760px;
}
	
 </style>
<body class="body">
<h1>{{curTitle}}<br><small>Descretipn</small><br><p></p></h1>
<img class="title-image" img src={{curIMAGE}}>
<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{curTRAILER}}" frameborder="0" allowfullscreen></iframe>

{% include 'includes/commentbox.html' %}
</body>
{% endblock %}

